<!-- Content Column -->
  <div class="col-lg-6 mb-4">

    <!-- Project Card Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Pluviosity</h6>
      </div>
      <div class="card-body">
        <h4 class="small font-weight-bold">Today <span class="float-right"> {{weather.0.rain}} %</span></h4>
        <div class="progress mb-4">
          <div class="progress-bar bg-danger" role="progressbar" style="width: {{weather.0.rain}}%" aria-valuenow="{{weather.0.rain}}" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <h4 class="small font-weight-bold">Yesterday <span class="float-right">{{weather.1.rain}}%</span></h4>
        <div class="progress mb-4">
          <div class="progress-bar bg-warning" role="progressbar" style="width: {{weather.1.rain}}%" aria-valuenow="{{weather.1.rain}}" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <h4 class="small font-weight-bold">2 days ago <span class="float-right">{{weather.2.rain}}%</span></h4>
        <div class="progress mb-4">
          <div class="progress-bar" role="progressbar" style="width: {{weather.2.rain}}%" aria-valuenow="{{weather.2.rain}}" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <h4 class="small font-weight-bold">3 days ago <span class="float-right">{{weather.3.rain}}%</span></h4>
        <div class="progress mb-4">
          <div class="progress-bar bg-info" role="progressbar" style="width: {{weather.3.rain}}%" aria-valuenow="{{weather.3.rain}}" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <h4 class="small font-weight-bold">4 days ago <span class="float-right">{{weather.4.rain}}%</span></h4>
        <div class="progress mb-4">
          <div class="progress-bar bg-success" role="progressbar" style="width: {{weather.4.rain}}%" aria-valuenow="{{weather.4.rain}}" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <h4 class="small font-weight-bold">5 days ago <span class="float-right">{{weather.5.rain}}%</span></h4>
        <div class="progress mb-4">
          <div class="progress-bar bg-secondary" role="progressbar" style="width: {{weather.5.rain}}%" aria-valuenow="{{weather.5.rain}}" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <h4 class="small font-weight-bold">6 days ago <span class="float-right">{{weather.6.rain}}%</span></h4>
        <div class="progress mb-4">
          <div class="progress-bar bg-danger" role="progressbar" style="width: {{weather.6.rain}}%" aria-valuenow="{{weather.6.rain}}" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>

  </div>